.resolver {
  width: 90vw;
  background-color: var(--color-cyber-grape);
  color: var(--inverse-text-color);
  border-radius: 2rem;
  position: relative;

  &__heading {
    background-color: var(--color-navy-taupe);
    padding: 2rem;
    border-radius: 2rem 2rem 0 0;
    font-size: 0;

    h2 { margin: 0; }

    .progress {
      height: 1.25rem;
    }
  }

  &__content {
    scroll-behavior: smooth;
    margin: 0 0 1rem;
    max-height: 90vh;
    overflow-y: scroll;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::-webkit-scrollbar {
      display: none;
    }

    &--loading,
    &--no-results {
      min-height: 50vh;
      text-align: center;
    }
  }

  &__control-bar {
    background-color: var(--color-navy-taupe);
    padding: 1rem 2rem;
    border-radius: 0 0 2rem 2rem;
    display: flex;
    width: 100%;

    .button {
      margin-left: 1rem;
    }
  }

  &__controls--center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__progress {
    margin: 1rem 0;
  }
}

.automatch {
  height: 0;
}
