@mixin menu-item($settings) {
  $hover-color: map-get($settings, 'hover');

  @include typography('title-4');
  text-transform: uppercase;  // Should this be part of typography?
  font-weight: bold;  // Should this be part of typography?
  letter-spacing: spacing(0.15);  // Should this be part of typography?
  text-align: left;
  border: none;
  outline: none;
  background-color: palette('menu');
  padding: spacing(0.75) spacing(1.25) spacing(0.75) spacing(1);
  cursor: pointer;
  color: #6D6F77;
  border-bottom: #F2F2F2 1px solid;

  &:hover {
    background: $hover-color;
    color: palette('selected');
  }
}
