.app {
  @include modifier(loading) {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 100%;

  &__flash {
    position: fixed;
    bottom: 40px;
    z-index: 99;
    width: 100%;
  }

  .unsafe-pairing-warning {
    background: var(--error);
    color: var(--text-light);
    padding: unit(2);
    width: 100%;
  }


  @include modifier(frameless) {
    .app__titlebar {
      -webkit-app-region: drag; // sass-lint:disable-line no-vendor-prefixes
      display: block;
      height: var(--app-titlebar-height);
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      visibility: visible;
      width: 100%;
    }
  }

  // everything below the header
  @include element(content) {
    display: flex;
    flex-direction: row;
    height: calc(100% - #{unit(8)});
    width: 100%;
  }

  @include element(sidebar) {
    background-color: var(--inverse-background-color);
    color: var(--inverse-text-color);
    flex: none;
    height: 100%;
    width: var(--app-sidebar-width);

    .app-version {
      position: absolute;
      bottom: unit(2);
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--app-sidebar-width);
      height: unit(4);
      font-size: 0.9rem;

      span {
        margin-left: unit(1);
      }

      img {
        width: unit(4);
      }
    }


    // Ensure contained content fills entire height
    > * {
      border: 1px solid transparent; // force to top
      height: 100%;
    }
  }

  @include element(screen) {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
  }

  @include element(main) {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    flex: 1 auto;

    .content {
      padding: spacing(1) spacing(3);
    }
  }

  @include element(codename) {
    line-height: 1.6;

    &::before {
      content: '“';
    }

    &::after {
      content: '”';
    }
  }
}

code {
  background: var(--color-cerulean-blue);
  color: var(--text-light);
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  word-break: keep-all;
  white-space: nowrap;
}
