.app {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 100%;

  @include modifier(loading) {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__flash {
    position: fixed;
    bottom: 40px;
    z-index: 99;
    width: 100%;
  }

  .unsafe-pairing-warning {
    background: var(--error);
    color: var(--text-light);
    padding: unit(2);
    width: 100%;
  }


  @include modifier(frameless) {
    .app__titlebar {
      -webkit-app-region: drag; // sass-lint:disable-line no-vendor-prefixes
      display: block;
      height: var(--app-titlebar-height);
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      visibility: visible;
      width: 100%;
    }
  }

  // everything below the header
  @include element(content) {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  @include element(sidebar) {
    background-color: var(--inverse-background-color);
    color: var(--inverse-text-color);
    flex: none;
    height: 100%;
    padding-top: var(--app-titlebar-height);
    width: var(--app-sidebar-width);

    // Ensure contained content fills entire height
    > * {
      border: 1px solid transparent; // force to top
      height: 100%;
    }
  }

  @include element(screen) {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
  }

  @include element(main) {
    flex: auto;
    overflow: auto;
    padding: spacing(1) spacing(3);
    width: 100%;

    .workspace,
    .paired-device-list {
      max-width: 1400px;
      margin: 0 auto;
    }
  }

  @include element(version) {
    bottom: 0.5rem;
    color: var(--color-platinum--dark);
    font-size: 0.9rem;
    left: 0.5rem;
    position: absolute;
    text-align: center;

    img {
      width: 7rem;
      margin-bottom: 1rem;
    }
  }

  @include element(codename) {
    line-height: 1.6;

    &::before {
      content: '“';
    }

    &::after {
      content: '”';
    }
  }
}

code {
  background: var(--color-cerulean-blue);
  color: var(--text-light);
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}
