.device-status {
  display: flex;
  flex: 0 0 auto;

  &__icon {
    cursor: pointer;
    height: unit(6);
    position: relative;
    width: unit(6);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    &::before {
      content: '';
      background: center / contain no-repeat url('../images/devices.svg');
      height: 100%;
      width: 100%;
      background-size: 70%;
      background-position: left;
    }
  }

  @include element(badge) {
    position: absolute;
    background-color: var(--color-sea-green);
    border-radius: 50%;
    bottom: var(--badge-offset);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: 0.9rem;
    height: unit(2);
    line-height: 1.2;
    width: unit(2);
  }

  &__overlay {
    &-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 2rem;
    }

    .instructions__subsection {
      background: var(--darken-background);
      border: 0;
    }
  }
}
