.device-status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: spacing(large);

  &__icon {
    @include reset-button;
    background: center / contain no-repeat url('../images/devices-dark.png');
    cursor: pointer;
    height: 2.5rem;
    margin: 0.5rem spacing('medium');
    position: relative;
    width: 2.5rem;
  }

  @include element(badge) {
    --badge-offset: -0.4rem;
    --badge-size: 1.4rem;
    background-color: var(--color-sea-green);
    border-radius: calc(var(--badge-size) * 0.5);
    bottom: var(--badge-offset);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: 0.9rem;
    height: var(--badge-size);
    line-height: 1.2;
    position: absolute;
    right: var(--badge-offset);
    width: var(--badge-size);
  }

  &__list {
    @include panel;
    background: var(--color-cyber-grape);
    border-radius: var(--border-radius);
    color: var(--text);
    max-height: 70vh;
    overflow-y: auto;
    padding: 2rem 0 2rem 2rem;

    .device-card {
      width: calc(50% - 2rem);
      float: left;

      margin: 0 2rem 2rem 0;

      &:first-child {
        margin: 0 2rem 2rem 0;
      }
    }
  }

  &__overlay {
    &-controls {
      text-align: right;
      margin-top: 2rem;
    }

    .instructions__subsection {
      color: var(--text-dark);
    }
  }
}
