.export {
  flex: 1;

  @include element(section) {
    --input-background: var(--color-white);
    @include panel;
    padding: spacing(large);
    background: var(--color-platinum);
  }

  @include element(row) {
    padding: 1rem 0 0;
  }

  @include element(subpanel) {
    transform-origin: top;
    // padding: 0 1.5rem;
    padding: 1rem 0 0 4rem;
  }

  @include element(subpanel-content) {
    padding: 1rem 0;
  }

  margin-bottom: 6rem; // height of footer

  .form-field {
    &:last-child { margin-bottom: 0; }
  }

  .form-field-container {
    &:last-child { margin-bottom: 0; }
  }

  &__ego-info {
    float: right;
    font-style: italic;
    font-size: small;
  }
}
