.export {
  flex: 1;

  @include modifier(loading) {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }

  @include element(section) {
    @include panel;
    --input-background: transparent;
    --input-border: var(--color-white);
    padding: unit(2) unit(4);
    background: var(--color-platinum);

    .form-field-container {
      margin: 0;

      label {
        padding: 0;
        min-height: auto;
      }
    }
  }

  @include element(row) {
    margin: 1rem 0;
  }

  @include element(subpanel) {
    transform-origin: top;
    // padding: 0 1.5rem;
    padding: 1rem 0 0 4rem;
  }

  @include element(subpanel-content) {
    padding: 1rem 0;
  }

  .form-field {
    padding: 0;
    &:last-child { margin-bottom: 0; }
  }

  .form-field-container {
    &:last-child { margin-bottom: 0; }
  }

  &__ego-info {
    float: right;
    font-style: italic;
    font-size: small;
  }

  .buttons {
    @include panel;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: unit(2) unit(4);
    background: var(--color-cyber-grape);
  }
}
