.file-drop-target {
  @include modifier(active) {
    background-color: var(--color-slate-blue--dark);

    > * {
      pointer-events: none;
    }

    .dashboard__panel {
      background-color: var(--color-platinum--dark);
    }
  }

  display: inherit;
  height: 100%;
  width: 100%;

  &__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: var(--z-global-ui);
    background-color: var(--background);
    height: 100%;

    svg {
      opacity: 1;
      color: var(--color-sea-green--dark);
      transform: rotate(180deg);
    }    
  }

}
