.settings {
  flex: 1;

  &__section {
    @include panel;
    padding: unit(2) unit(4);
    background: var(--color-platinum);
  }

  @include element(description) {
    flex: 1 1 auto;
    padding-right: spacing(large);
  }

  @include element(action) {
    flex: 0 0 auto;
  }

  .chart-section {
    --input-background: transparent;
    background: var(--color-platinum--dark);
    padding: unit(2);
    border-radius: var(--border-radius);
    margin-bottom: unit(2);

    h4 {
      margin-top: 0;
    }
  }

  .form-field-container {
    margin: 0;
  }

  @include element(checkbox-group) {
    .form-field {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: left;
      padding: 0;
      margin: 0;

      .form-field-checkbox {
        margin-bottom: unit(1);
      }
    }
  }

  @include modifier(loading) {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }
}
