.settings {
  @include element(section) {
    align-items: center;
    border-top: 1px solid var(--base-border-color);
    display: flex;
    padding: spacing(large) 0;
  }

  @include element(description) {
    flex: 1 1 auto;
    padding-right: spacing(large);
  }

  @include element(action) {
    flex: 0 0 auto;
  }

  @include element(checkbox-group) {
    .form-field {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: left;
    }
  }
}
