.tray {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: palette('menu');

  &__menu {
    display: flex;
    flex-direction: column;

    &-item {
      @include menu-item((hover: palette('settings')));
    }
  }
}
