$color-heading: rgba(0, 0, 0, 0.05);
$color-lighten-1: rgba(255, 255, 255, 0.5);
$color-lighten-2: rgba(255, 255, 255, 1);

.form-field-radio {
  position: relative;

  input {
    position: absolute;
    z-index: 0;
  }
}

.resolutions {
  margin-bottom: 4rem;
  // background: lime;

  & > table {
    width: 100%;
    // background: $color-darken;

    & > thead > tr > th {
      text-align: left;
      padding: 2rem;
      font-family: var(--heading-font-family);
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.05rem;
      line-height: 1.1;
      background: $color-heading;
    }

    & > tbody > tr {
      & > td {
        padding: 1rem 2rem;
        background: $color-lighten-1;
      }

      &:nth-child(4n + 1) {
        td {
          background: $color-lighten-2;
        }
      }
    }
  }

  td {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
}

.resolution {

  &__summary {
    &--is-open {
      & > td {
        background-color: var(--color-cyber-grape) !important;
        color: var(--color-white);
      }
    }
  }

  &__toggle {
    cursor: pointer;

    &-icon-open {
      display: none;
    }

    &--is-open {
      .resolution__toggle {
        &-icon-open { display: block; }
        &-icon-default { display: none; }
      }
    }
  }

  &__parameters {
    & > td {
      padding: 0 !important; // sass-lint:disable-line no-important
    }

    &-container {
      width: 100%;
      background: var(--color-navy-taupe);
      color: var(--color-white);
      padding: 1rem;
    }

    &-table {
      width: 100%;

      th,
      td {
        padding: .5rem 1rem;
      }

      td {
        font-family: monospace;
      }
    }

    &-controls {
      padding: 1rem;
    }
  }
}


.new-resolution {
  width: 100%;

  &__options {
    width: 100%;

    td {
      padding: 0.5rem 0;

      h4 {
        margin: 1rem 0;
      }

      .form-field-container,
      .form-field {
        margin: 0;

        input {
          background-color: var(--color-white);
        }
      }
    }
  }

  .tip {
    margin-top: .75rem;
    border-radius: 1rem;
    padding: 0 1rem;

    .icon {
      margin-right: 1rem;
    }
  }

  &__preview {
    margin: 2rem -2.5rem -1.25rem;
    padding: 3.5rem 2.5rem 2rem;
    background: var(--color-rich-black);
    color: var(--color-white);
    position: relative;

    h4 {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.5rem 1rem;
      margin: 0;
      background: var(--color-navy-taupe);
    }

    code {
      display: block;
      background: none;
      padding: 0;
    }
  }
}

.select-field {
  display: block;
  border: 0;
  font-size: 14px; // TODO
  width: 100%;
  -moz-appearance: none;  // sass-lint:disable-line no-vendor-prefixes
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  appearance: none;
  max-width: 100%;
  min-height: 4rem;
  font-family: var(--body-font-family);
  border-radius: 1rem 1rem 0 0;
  background-color: var(--color-white);
  padding: 0.5rem 1rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color var(--animation-easing) var(--animation-duration-standard);

  &:hover {
    border-bottom-color: var(--input-accent);
  }
}
