.DS_Store
/node_modules
/bower_components
/coverage
/build
/release-builds
**/db
/www
/electron-dev
/docs
/logs
/nc_certificates

config/api/api-spec-*.json
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.zip
*.pbxproj
Icon^M^M
