[submodule "network-canvas-ui"]
	path = src/renderer/ui
	url = https://github.com/codaco/Network-Canvas-UI.git
[submodule "src/main/utils/shared-api"]
	path = src/main/utils/shared-api
	url = https://github.com/codaco/secure-comms-api.git
[submodule "src/main/utils/network-query"]
	path = src/main/utils/network-query
	url = https://github.com/codaco/networkQuery.git
[submodule "src/main/utils/network-exporters"]
	path = src/main/utils/network-exporters
	url = https://github.com/codaco/network-exporters
