//
// Fix focus styling on fields & make keyboard-controllable
//

// NC-UI doesn't style focus colors; fix for keyboard accessibility
$focused-accent-border: var(--color-cerulean-blue);
$focused-accent-background: var(--color-sea-green--dark);
@mixin input-focus-style {
  &::before {
    border-color: $focused-accent-border;
  }

  &::after {
    background-color: $focused-accent-background;
  }
}

@mixin fix-input-border-color {
  border-color: var(--input-accent); // NC-UI hardcodes to white; override
}

// sass-lint:disable force-pseudo-nesting force-element-nesting
.form-field-radio:hover {
  .form-field-radio__radio::before {
    @include fix-input-border-color;
  }
}

.form-field-checkbox__input,
.form-field-checkbox__input:checked {
  ~ .form-field-checkbox__checkbox::before {
    @include fix-input-border-color;
  }

  &:focus ~ .form-field-checkbox__checkbox {
    @include input-focus-style;
  }
}

.form-field-toggle__input {
  $border-width: 2px;

  // replace 'display: none' (which prevents focus)
  display: block;
  position: absolute;
  opacity: 0;

  // Toggle borders work a little differently than other inputs
  ~ .form-field-toggle__toggle .form-field-toggle__button {
    // always use a border so knob positioning is consistent
    border: $border-width solid transparent;

    &::before {
      width: -$border-width;
      top: -$border-width;
    }
  }

  &:focus ~ .form-field-toggle__toggle .form-field-toggle__button {
    border-color: $focused-accent-border;
  }
}

.form-field-radio__input {
  ~ .form-field-radio__radio::before {
    @include fix-input-border-color;
  }

  &:focus ~ .form-field-radio__radio {
    @include input-focus-style
  }
}
// sass-lint:enable force-pseudo-nesting
