body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-root {
  height: 100%;
  width: 100%;
}

// Override Network-Canvas-UI, which hardcodes colors that don't really work here
.icon {
  .cls-1,
  .cls-2,
  .cls-3 {
    fill: currentColor;
  }
}

// NC-UI defines this as the same as the field it overlays, so it's never visible
.form-field-toggle__button {
  background-color: var(--color-platinum--dark);
}

.form-field {
  &.form-field-toggle {
    margin-bottom: 0; // other NC field types don't have a margin; reset for consistency
  }
}

@import 'field_focus_fixes';
