body {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  color: var(--color-rich-black);
  line-height: 1.25;
}

li {
  margin-bottom: unit(1);
}

.app-root {
  height: 100%;
  width: 100%;
}

// Override Network-Canvas-UI, which hardcodes colors that don't really work here
.icon {
  .cls-1,
  .cls-2,
  .cls-3 {
    fill: currentColor;
  }
}

// NC-UI defines this as the same as the field it overlays, so it's never visible
.form-field-toggle__button {
  background-color: var(--color-platinum--dark);
}

.form-field {
  &.form-field-toggle {
    margin-bottom: 0; // other NC field types don't have a margin; reset for consistency
  }
}

// Override NC and UI dialog defaults for better presentation on desktop
.dialog__main-content {
  display: flex;
  flex-direction: column;
}

.dialog--error {
  .error__stack-trace {
    color: var(--color-rich-black);
  }
}

// Server specific error dialog for imports. 
.dialog {
  .import-error-details {
    @include allow-text-selection;
    overflow-y: auto;

    .error-section {
      margin: unit(2);
      padding: unit(1) unit(2);
      background: var(--inverse-background-color);
      border-radius: var(--border-radius);

      h2 {
        display: inline-block;
      }
    }
  }
}

// Override UI defaults for toasts for better display on desktop
.toast-container-list {
  align-items: flex-end;
}

.toast {
  width: 40rem;

  .toast-content {
    font-weight: normal;

    .progress-bar {
      // background: var(--transparent-light);
    }

    .toast-button-group {
      display: flex;
      justify-content: flex-end;

      button {
        &:not(:last-child) {
          margin-right: unit(1);
        }
      }
    }
  }
}

.toast--wide {
  width: 50rem;
}

.dialog-release-notes {
  &__notes {
    max-height: 50vh;
    overflow-y: auto;
    background: var(--color-navy-taupe);
    padding: 0 1.2rem;
    border-radius: var(--border-radius);
  }
}

@import 'field_focus_fixes';
