:root {
  // Colors
  --base-background-color: var(--color-platinum);
  --base-border-color: var(--color-platinum--dark);
  --dashboard-panel-accent-color: var(--color-sea-serpent);
  --inverse-background-color: var(--color-navy-taupe);
  --inverse-text-color: var(--color-white);
  --message-background-color: var(--color-sea-green--dark);
  --message-border-color: var(--color-sea-green);
  --message-color: var(--color-white);
  --error-message-background-color: var(--color-tomato--dark);
  --error-message-border-color: var(--color-tomato);
  --error-message-color: var(--message-color);
  --recessed-background-color: var(--color-platinum--dark);
  --recessed-border-color: var(--color-platinum);
  --input-text: var(--color-rich-black);

  // Type
  --base-font-size: 14px;
  --code-font: monospace;

  // Layout
  --app-sidebar-width: 9rem;
  --app-titlebar-height: 22px;
  --modal-window-padding: #{spacing(huge)};
  --dashboard-panel-accent-radius: 4px;
}
