:root {
  --base-background-color: color('platinum');
  --recessed-background-color: color('platinum--dark');
  --inverse-background-color: color('navy-taupe');
  --inverse-text-color: color('white');
  --base-border-color: color('platinum--dark');

  --code-font: monospace;

  --app-sidebar-width: 6rem;

  --message-background-color: color('tomato--dark');
  --message-color: color('white');
}
