// $color-light-grey: rgb(242, 246, 247);
// $color-light-grey-transparent: transparentize($color-light-grey, 0.5);

.entity-resolution {
  margin-bottom: 4rem;

  .form-field-radio {
    position: relative;

    input {
      position: absolute;
      z-index: 0;
    }
  }

  .snapshots {
    width: 100%;

    & > thead > tr > th {
      text-align: left;
      padding: 2rem;
      border-bottom: 2px solid var(--color-platinum);
      font-family: var(--heading-font-family);
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.05rem;
      line-height: 1.1;
    }

    & > tbody > tr {
      & > td {
        padding: 1rem 2rem;
      }

      &:nth-child(2n + 1) {
        td {
          background: color('platinum', 0.5);
        }
      }
    }

    .snapshots__row--no-padding {
      padding: 0;
    }
  }

  .new-snapshot {
    width: 100%;
    border-top: 2px solid var(--color-platinum);
    background: color('platinum', 0.5);
    padding: 1rem 2rem;

    &__options {
      width: 100%;

      th {
        text-align: left;
        width: 150px;
      }

      td {
        padding: 0.5rem 0;

        .form-field-container,
        .form-field {
          margin: 0;

          input {
            background-color: var(--color-white);
          }
        }
      }
    }
  }
}

.select-field {
  display: block;
  border: 0;
  font-size: 14px; // TODO
  width: 100%;
  -moz-appearance: none;  // sass-lint:disable-line no-vendor-prefixes
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  appearance: none;
  max-width: 100%;
  min-height: 4rem;
  font-family: var(--body-font-family);
  border-radius: 1rem 1rem 0 0;
  background-color: var(--color-white);
  padding: 0.5rem 1rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color var(--animation-easing) var(--animation-duration-standard);

  &:hover {
    border-bottom-color: var(--input-accent);
  }
}
