.resolver {
  width: 80vw;
  min-height: 60vh;
  max-height: 90vh;
  background-color: var(--color-cyber-grape);
  color: var(--inverse-text-color);
  border-radius: 2rem;
  padding: 4rem;
  overflow-y: scroll;
  position: relative;

  &__heading {
    margin: 0 0 1rem;
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;

    .icon {
      width: 1.5rem;
    }
  }

  &__progress {
    margin: 1rem 0;
  }

  &__loading,
  &__diff,
  &__review,
  &__error {
    margin: 1rem 0;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-height: 50vh;
    width: 100%;

    button {
      margin-top: 1rem;
    }
  }
}

.automatch {
  height: 0;
}
