.app-message {
  background-color: var(--message-background-color);
  color: var(--message-color);
  // cursor: pointer;
  padding: spacing(small);
  padding-top: var(--app-titlebar-height);
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: var(--z-index-app-messages);

  @include modifier(error) {
    background-color: var(--error-message-background-color);
    color: var(--error-message-color);
  }

  @include element(button) {
    @include reset-button;
    cursor: pointer;
    float: right;
  }

  @include element(close) {
    color: var(--message-color);

    &[name='close'] { // Specificity needed to match UI lib
      height: 1rem;
    }
  }
}
