// sass-lint:disable class-name-format

.ReactVirtualized__Grid {
  &.ReactVirtualized__Table__Grid {
    &:focus {
      outline: none;
    }
  }
}

.ReactVirtualized__Table {
  display: inline-block;
  border: 2px solid var(--input-background);
}

.ReactVirtualized__Table__headerRow {
  display: flex;
}

.ReactVirtualized__Table__headerColumn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.ReactVirtualized__Table__headerTruncatedText {
  flex: auto;
}

.ReactVirtualized__Table__row {
  display: flex;

  &.ReactVirtualized__even {
    background-color: var(--input-background);
  }
}

.ReactVirtualized__DragHandle {
  flex: 0 0 1rem;
  z-index: 2;
  cursor: col-resize;
  color: var(--draggable-color);

  &:hover {
    background-color: var(--input-background);
  }
}

.ReactVirtualized__DragHandleActive {
  &,
  &:hover {
    color: var(--draggable-color-active);
    z-index: 3;
  }
}

.ReactVirtualized__DragHandleIcon {
  flex: 0 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.case-management {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__table {
    flex: 1;
  }

  &__checkbox > div {
    display: flex;
  }

  &__header {
    height: 5rem;

    .dismiss-button {
      height: 1rem;
      margin-top: 1rem;
    }
  }

  &__header-text {
    display: flex;
    justify-content: space-between;
  }

  &__filter {
    display: flex;
  }

  &__delete-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: unit(2) unit(4);
    background: var(--color-platinum--dark);
    margin: 0 0 0.5rem 0;
    border-radius: var(--border-radius);

    .button {
      margin: 0 0.5rem;
    }

  }

  @include modifier(loading) {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }
}
