.counts-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: spacing(medium) 0;

  @include element(content) {
    display: flex;
    margin: 0 spacing(small);
    flex: 0 1 auto;
    width: 100%;
  }

  @include element(key) {
    margin: spacing(small) spacing(small) spacing(small) 0;
    display: flex;
    flex: 0 1 50%;
    justify-content: flex-start;
  }

  @include element(value) {
    margin: spacing(small) 0;
    display: flex;
    justify-content: flex-end;
    flex: 0 1 50%;
  }
}
