.dashboard {
  $min-grid-row: 0;
  $max-grid-row: 18rem;
  $top-grid-row: auto;
  $column-count: 3;

  display: grid;
  grid-auto-rows: minmax($min-grid-row, $max-grid-row);
  grid-gap: spacing(medium);
  grid-template-columns: repeat($column-count, 1fr);
  grid-template-rows: $top-grid-row;

  @include element(panel) {
    background-color: var(--color-white);
    padding: spacing(small);

    @include modifier(scrollable) {
      --scrolling-panel-header-height: 1rem;
      --scrolling-panel-header-margin: #{spacing(medium)};

      .dashboard__panel-content {
        height: calc(100% - var(--scrolling-panel-header-height) - var(--scrolling-panel-header-margin));
      }

      .dashboard__panel-header {
        height: var(--scrolling-panel-header-height);
        margin-bottom: var(--scrolling-panel-header-margin);
      }
    }

    @include modifier(server-stats) {
      grid-area: 1 / span $column-count;
    }
  }
}
