.dashboard {
  $min-grid-row: 0;
  $max-grid-row: 27rem;
  $column-count: 3;
  $grid-gap: spacing(medium);

  @include element(panel) {
    @include modifier(chart) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include modifier(scrollable) {
      --scrolling-panel-header-height: 1rem;
      --scrolling-panel-header-margin: #{spacing(medium)};

      .dashboard__panel-content {
        height: calc(100% - var(--scrolling-panel-header-height) - var(--scrolling-panel-header-margin));
      }

      .dashboard__header {
        height: var(--scrolling-panel-header-height);
        margin-bottom: var(--scrolling-panel-header-margin);
      }
    }

    background-color: var(--color-platinum);
    height: 100%;
    padding: spacing(large);
    position: relative;
    width: 100%;
  }

  @include element(chartContainer) {
    flex: 0 1 100%;
  }

  @include element(chartFooter) {
    color: var(--text-dark);
    flex: 0 0 auto;
    padding-top: spacing(small);
    text-align: center;
  }

  @include element(emptyData) {
    color: var(--color-platinum--dark);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
  }

  @include element(header-text) {
    white-space: nowrap;
  }

  @include element(header-subtext) {
    display: block;
  }

  display: grid;
  grid-auto-rows: minmax($min-grid-row, $max-grid-row);
  // Drag handles are rendered as bars below each panel; add extra vertical gap to accommodate:
  grid-gap: calc(#{$grid-gap} + var(--draggable-height)) $grid-gap;
  grid-template-columns: repeat($column-count, 1fr);
}
