.dismiss-button {
  @include text-button;

  &__icon {
    &[name='close'] { // specificity needed to override NC-UI
      height: 0.5rem;
      margin-right: 0.5rem;
      width: 0.5rem;
    }
  }
}
