.header {
  @include element(title) {
    @include typography(title-1);
    margin: 0;
  }

  @include element(nav) {
    flex-shrink: 0;
    height: 2rem;
  }

  @include element(link) {
    color: var(--color-white);
    display: inline-block;
    height: 100%;
    margin-right: $spacer;

    &:last-of-type {
      margin-right: 0;
    }

    .icon {
      height: 100%;
      width: auto;
    }
  }

  align-items: center;
  background-color: var(--color-cyber-grape);
  border-bottom: 0.25rem solid var(--color-mustard);
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: spacing(small);
}
