$block: instructions;

.#{$block} {
  --icon-height: 2rem;

  @include panel;

  display: flex;
  flex-direction: column;
  line-height: var(--icon-height);
  margin-top: 2rem;

  code {
    white-space: nowrap;
  }

  @include element(section) {
    margin-top: 1rem;
    background: var(--color-platinum);
    padding: spacing(large);
    border-radius: var(--border-radius);

    p {
      line-height: 2;
    }
  }

  @include element(steps) {
    list-style-type: decimal;
    margin-bottom: 2rem;
  }

  @include element(step) {
    margin-bottom: 1rem;
  }

  @include element(add-icon) {
    &[name='add-a-screen'] {
      height: var(--icon-height);
      vertical-align: -0.5rem;
      width: var(--icon-height);
    }
  }

  @include element(definition-list) {
    dt {
      float: left;

      &::after {
        content: ':';
        margin-right: 0.5rem;
      }
    }

    dd {
      margin-bottom: 0;
    }
  }

  @include element(subsection) {
    border: 1px solid var(--color-platinum--dark);
    border-radius: var(--border-radius);
    padding: 1rem 2rem;
    background-color: var(--color-platinum--dark);
    display: flex;
    align-items: center;

    svg {
      margin: 2rem 2rem 2rem 0;
    }
  }

  @include modifier(compact) {
    .#{$block} {
      @include element(section) {
        margin-top: 0;
        width: auto;
      }

      @include element(step) {
        margin-bottom: 0;
      }
    }
  }
}
