$block: instructions;

.#{$block} {
  @include element(section) {
    @include panel;
    --input-background: transparent;
    --input-border: var(--color-white);
    padding: unit(2) unit(4);
    background: var(--color-platinum);
    margin: 0;
    margin-top: unit(4);

    &:last-of-type {
      margin-bottom: unit(4);
    }
  }

  @include element(steps) {
    list-style-type: decimal;
  }

  @include element(add-icon) {
    &[name='add-a-screen'] {
      height: var(--icon-height);
      vertical-align: -0.5rem;
      width: var(--icon-height);
    }
  }

  @include element(definition-list) {
    dt {
      float: left;

      &::after {
        content: ':';
        margin-right: 0.5rem;
      }
    }

    dd {
      margin-bottom: 0;
    }
  }

  @include element(subsection) {
    border-radius: var(--border-radius);
    padding: unit(2) unit(4);
    background-color: var(--color-platinum--dark);
    display: flex;
    align-items: center;

    svg {
      margin: 2rem 2rem 2rem 0;
    }
  }

  @include modifier(inline);

  max-width: 80rem;
  margin: 0 auto;
}

.pairing-instructions {
  details {
    width: 100%;
  }
}
