.interview-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;

  &__label {
    border-bottom: solid 1px;
    margin-bottom: spacing(small);
  }

  .counts-widget {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}
