.interview-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__label {
    border-bottom: solid 1px;
    margin-bottom: spacing(small);
  }

  .counts-widget {
    flex-direction: row;
    justify-content: space-between;
  }
}
