.modal {
  opacity: 1;
  position: fixed;
  z-index: var(--z-index-modal);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include element(background) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--drop-shadow-color);
  }

  @include element(window) {
    background-color: var(--base-background-color);
    padding: var(--modal-window-padding);
    position: relative;
  }

  @include element(layout) {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    height: inherit;
    margin-bottom: 1rem;
    width: 100%;

    &-content {
      height: inherit;
      max-height: 80vh;
    }
  }

  @include element(close) {
    float: right;
  }

  @include modifier(pairing-confirmation) {
    // Force a narrower window
    padding: 0 30%;
  }
}
