.network-status-table {
  @include panel;
  color: var(--text-dark);
  margin: 0 0 unit(2);

  table {
    width: 100%;
    border-radius: spacing('small');
    overflow: hidden;

    th,
    td {
      padding: spacing('small') spacing('medium');
      vertical-align: top;
      line-height: 1.2;
      background-color: var(--color-white);

    }

    th {
      padding-right: unit(2);
      vertical-align: top;
    }

    tr {
      &:nth-child(2n + 1) {
        td,
        th {
          background-color: var(--color-platinum);
        }
      }
    }
  }
}
