.pairing-prompt {
  background-color: color(cyber-grape);
  border-left: .5rem solid color(mustard);
  color: color('white');
  display: flex;
  padding: spacing(medium);
  position: fixed;
  right: spacing(large);
  top: spacing(large);
  max-width: 80vw;
  z-index: 1;

  @include element(icon) {
    margin: spacing(large);
  }

  @include element(content) {
    flex: auto;
  }

  @include element(buttonGroup) {
    display: flex;
    justify-content: flex-end;
  }

  @include element(button) {
    text-decoration: none;
  }

  @include element(close) {
    position: absolute;
    right: spacing(small);
    top: spacing(small);
  }

}
