.pairing-prompt {
  $estimated-height: 15rem;
  $width: 50vw;

  @include slide-down-transition($estimated-height);

  background-color: var(--color-cyber-grape);
  border-bottom: 0.5rem solid var(--color-mustard);
  color: var(--color-white);
  display: flex;
  left: calc(50% - #{$width / 2});
  min-height: $estimated-height;
  padding: spacing(medium);
  position: fixed;
  bottom: 40px;
  border-radius: var(--border-radius);
  width: $width;
  z-index: 1;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);


  @include element(icon-wrapper) {
    margin: spacing(large);
  }

  @include element(content) {
    flex: auto;
  }

  @include element(buttonGroup) {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
  }

  @include element(button) {
    text-decoration: none;
  }

  @include breakpoint('narrow') {
    left: 0;
    width: 100%;

    @include element(icon-wrapper) {
      display: none;
    }
  }
}
