.pairing-pin {
  @include element(code) {
    text-align: center;
  }

  @include element(char) {
    background-color: color('white');
    border: 1px solid var(--base-border-color);
    border-radius: .25rem;
    display: inline-block;
    font-family: var(--code-font);
    font-size: 4rem;
    margin: spacing(tiny);
    padding: spacing(small);
  }

  @include element(buttonGroup) {
    display: flex;
    justify-content: flex-end;
  }
}
