.protocol-thumbnails {
  --thumbnail-size: calc(var(--app-sidebar-width) * 0.6);

  @include element(active) {
    background-color: color('sea-green');
  }


  @include element(thumbnail) {
    background-color: color('cyber-grape');
    border-radius: 0.5rem;
    font-size: 2rem;
    height: var(--thumbnail-size);
    line-height: var(--thumbnail-size);
    margin: spacing('medium') auto;
    text-align: center;
    vertical-align: middle;
    width: var(--thumbnail-size);
  }
}
