.protocol-thumbnail {
  $protocol-border-selected: rgba(255, 255, 255, 0.5);
  $protocol-border-highlight: rgba(255, 255, 255, 0.2);
  $protocol-border-transparent: rgba(255, 255, 255, 0);

  @include modifier(active) {
    border-color: var(--border-selected);
  }

  @include modifier(add) {
    background: transparent center / 50% no-repeat url('../images/plus.png');
    border: var(--border-width) solid var(--color-cyber-grape);
    cursor: pointer;

    &:hover {
      background-color: var(--color-cyber-grape);
    }
  }

  --border-selected: #{$protocol-border-selected};
  --border-highlight: #{$protocol-border-highlight};
  --border-transparent: #{$protocol-border-transparent};
  --border-width: 6px;
  --thumbnail-size: calc(var(--app-sidebar-width) * 0.6);

  background-color: var(--color-cyber-grape);
  @for $i from 1 through 9 {
    &.protocol-thumbnail__schema-color-seq-#{$i} {
      background-color: var(--schema-color-seq-#{$i});
    }
  }

  border: var(--border-width) solid var(--border-transparent);
  border-radius: 0.75rem;
  color: var(--color-white);
  display: block;
  font-size: 2rem;
  height: var(--thumbnail-size);
  line-height: calc(var(--thumbnail-size) - 2 * var(--border-width));
  margin: spacing('medium') auto;
  overflow: visible;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-duration: var(--animation-duration-fast);
  transition-property: border-color, background-color;
  width: var(--thumbnail-size);

  &:hover {
    &:not(.protocol-thumbnail--active) {
      border-color: var(--border-highlight);
    }
  }
}
