.protocol-thumbnails {
  --thumbnail-size: calc(var(--app-sidebar-width) * .6);

  @include element(active) {
    background-color: color('sea-green');
  }

  @include element(thumbnail) {
    background-color: color('cyber-grape');
    border-radius: .5rem;
    display: block;
    font-size: 2rem;
    height: var(--thumbnail-size);
    line-height: var(--thumbnail-size);
    margin: spacing('medium') auto;
    text-align: center;
    vertical-align: middle;
    width: var(--thumbnail-size);

    @include modifier(add) {
      background: transparent center / 50% no-repeat url('../images/plus.png');
      border: 6px solid color('cyber-grape');
      cursor: pointer;

      &:hover {
        background-color: color('cyber-grape');
      }
    }
  }
}
