.screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  @include element(header) {
    flex: none;
  }

  @include element(main) {
    background-color: var(--base-background-color);
    flex: auto;
    padding: spacing(3);
  }
}
