.server-panel {
  background-color: var(--color-cyber-grape);
  padding: spacing(medium);
  color: var(--text-light);
  width: 100%;

  &__header {
    margin: spacing(medium);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}
