.server-panel {
  position: sticky;
  background-color: var(--color-mustard);
  border-bottom: 0.3rem solid var(--color-mustard--dark);
  padding: unit(1) 0;
  width: 100%;
  color: var(--server-panel-text);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .app-version {
    display: flex;
    align-items: center;
    font-size: 0.9rem;

    img {
      width: 1.8rem;
    }
  }

  &__header {
    margin: spacing(medium);
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 spacing(large);
  }
}
