.server-panel {
  background-color: var(--color-platinum--dark);
  padding: spacing(medium);
  width: 100%;
  border-bottom: 0.8rem solid var(--primary);
  color: var(--server-panel-text);

  &__header {
    margin: spacing(medium);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}
