.session-panel {
  @include element(header) {
    display: flex;
    justify-content: space-between;
  }

  @include element(header-count) {
    margin-left: 0.5rem;
  }

  @include element(id) {
    color: var(--color-charcoal);
    margin-left: 0.5rem;
  }
}
