
.sortable {
  --lighten-color: rgba(255, 255, 255, 0.5); // sass-lint:disable-line no-color-literals
  @include element(handle) {
    background-color: var(--draggable-color);
    cursor: grab;
    height: calc(var(--draggable-height) * 2);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius) ;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '=';
      color: var(--lighten-color);
      display: block;
    }
  }

  @include modifier(dragging) {
    box-shadow: 0 1rem 1.5rem var(--box-shadow-color);

    // Override inline pointer-events style to allow 'grabbing' cursor to display
    pointer-events: auto !important; // sass-lint:disable-line no-important

    .sortable__handle {
      cursor: grabbing;
    }
  }

  margin: 1.1rem 0;
  position: relative;
}
