.workspace {

  @include element(panel) {
    background-color: var(--color-white);
    padding: spacing(small);
  }

  @include modifier(loading) {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }

  .workspace-panel {
    @include panel;
    padding: 2.2rem;

    &__buttons {
      text-align: right;

      .button {
        margin-left: 1.1rem;
      }
    }

    &.welcome-panel {
      background-color: var(--primary);
      color: var(--text-light);

      a {
        color: var(--color-cyber-grape);
      }
    }

  }
}
