.workspace {
  padding: 0 0 3.3rem 0;

  @include element(panel) {
    background-color: var(--color-white);
    padding: spacing(small);
  }

  @include modifier(loading) {
    display: flex;
    justify-content: center;
  }

  .protocol-card {
    margin-bottom: 2.2rem;
  }

  .workspace-panel {
    @include panel;
    padding: 2.2rem;
    margin-bottom: 2.2rem;
    // border-radius: var(--border-radius);

    &__buttons {
      text-align: right;
    }

    &.welcome-panel {
      background-color: var(--primary);
      color: var(--text-light);

      a {
        color: var(--color-cyber-grape);
      }
    }

    &.overview-panel {
      color: var(--color-white);
      background-color: var(--color-cyber-grape);
    }
  }
}
