.review {
  width: 100%;
  text-align: left;

  &__stats {
    margin-top: 2rem;
    width: 100%;
    background-color: var(--base-background-color);
    color: var(--input-text);

    th {
      padding: 1rem;
      font-weight: 200;
    }

    td {
      font-size: 1.25rem;
    }

    tr {
      &:nth-child(2n) {
        td, th {
          background-color: var(--color-platinum);
        }
      }

      th,
      td {
        height: 4rem;
        vertical-align: center;
        padding: 0 1rem;
      }

      th {
        // width: 150px;
      }

      td {
        text-align: center;
        padding: 0 .5rem;
        // width: 100%;
      }
    }
  }
}
